body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

.hidden {
  display: none;
}


#main {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
}

input,
select,
button {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}



#data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 0.9rem;
}

#data-table th,
#data-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  word-break: break-word;
}

#table-body {
  width: 100%;
}

#table-body tr td t {
  font-size: 4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  background-color: red;
}

.kartk {
  background-color: orangered;
}

.homework {
  background-color: green;
}

.sprawdz {
  background-color: red;
}

.done {
  background-color: gray;
}

#login-container {
  font-size: 50px;
  max-width: 85%;
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#username {
  text-align: center;
  font-size: 55px;
}

#password {
  text-align: center;
  font-size: 55px;
}

#login-container input {
  border: 5px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s ease-in-out;
}

#login-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

#login-btn {
  margin-top: 4%;
  font-size: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

#login-btn:hover {
  background-color: #0056b3;
}

#login-status {
  font-size: 50px;
  text-align: center;
  margin-top: 4%;
  color: red;
}



.action_button {
  border: 2px solid black;
  border-radius: 10px;
  word-break: normal;
}

.remove_button {
  background-color: red;
}

.delete_button {
  background-color: red;
}

.switch_button {
  background-color: lightgreen;
}
