body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.hidden {
  display: none;
}

#login-container,
#main {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
}

button {
  cursor: pointer;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#data-table th,
#data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
